<meta http-equiv="refresh" content="3" />
index

<h1>Campus   <%= $ccc.name %></h1>

<ul>
<% @drops.each do |drop| %>
  <button style="height:50px;width:200px">
  <%= link_to drop.name, drop %>
  </button>
<% end %>
</ul>