<meta http-equiv="refresh" content="3" />

FINAL

<%= $yo %>

<h1>Alumnos <%= @dro.name %>  </h1>
<br>
<br>
<table>
  <thead>
    <tr>
      <th>Nombre</th>
        
      </tr>
  </thead>

  <tbody>
  <% @stdrop.each do |student| %>
    <tr>
      <td><%= student.name %> <%= student.gro %></td>
     </tr>
 <% end %>
</tbody>
</table>
<br>
<br>
<br>
<br>
<br>
<br>